<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cashfree Checkout Integration</title>
        <script src="https://sdk.cashfree.com/js/v3/cashfree.js"></script>
    <style>
    .checkout-container {
      text-align: center;
      margin-top: 50px;
    }

    #renderBtn {
      background-color: aquamarine;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
      transition: all 0.3s ease;
    }

    #renderBtn:hover {
      background-color: #64ffda;
      transform: scale(1.05);
      box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    }
    
  </style>
</head>
<body>
  
  <div class="checkout-container">
    <p>Click below to open the checkout page in popup</p>
    <button id="renderBtn">Pay Now</button>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://sdk.cashfree.com/js/v3/cashfree.js"></script>
        <script>
            const cashfree = Cashfree({
                mode: "sandbox",
            });

            document.getElementById("renderBtn").addEventListener("click", async () => {
                try {
                    const token = localStorage.getItem("token");
                    console.log('this is the token on browser', token);
                    const response = await axios.post('http://YOUR_IP:3000/api/pay/paying',{}, {
                        headers: { Authorization: token }
                    });
                    console.log('this is the response',response.data);
                    let orderId = response.data.data.order_id;
                    let checkoutOptions = {
                        paymentSessionId: response.data.data.payment_session_id,
                        redirectTarget: "_self",
                    };
                    const result = await cashfree.checkout(checkoutOptions);

                }
                 catch (error) {
                    alert("Failed to initiate payment: " + error.message);
                    console.error(error);
                }
            });
        </script>
    </body>
</html>